<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>347255944900-mcnrv68o42j10jtilgu0jusolengke23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347255944900-mcnrv68o42j10jtilgu0jusolengke23</string>
	<key>API_KEY</key>
	<string>AIzaSyBUxfCY7O_Zk8Mmyb9FkCLVbVD8bC65tBA</string>
	<key>GCM_SENDER_ID</key>
	<string>347255944900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Pawsy</string>
	<key>PROJECT_ID</key>
	<string>pawsy-c0063</string>
	<key>STORAGE_BUCKET</key>
	<string>pawsy-c0063.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347255944900:ios:8a0efbd0bee931a1</string>
	<key>DATABASE_URL</key>
	<string>https://pawsy-c0063.firebaseio.com</string>
</dict>
</plist>